<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Registration</title>
</head>
<body>
    <p>Dear {{Name}},</p>
    <p>Your company ({{CompanyName}}), has been succesfuly registered. Please login with this credential:</p>
    <br>
    <p>Username: {{UserName}}</p>
    <p>Password: {{Password}}</p>
    <br>
    <p>For your own safety, we recommend you to change your default password.</p>
    <p>Best regards,</p>
    <br>
    <p>Asri ATS</p>
</body>
</html>