<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Offer Letter</title>
</head>
<body>
    <p>Dear {{Name}},</p>
    <p>We are pleased to offer you the position of {{JobTitle}} at {{CompanyName}}.</p>
    <p>You will receive a {{Salary}} monthly paycheck and other benefits.</p>
    <p>We would like you to start to work as soon as possible at our HQ, {{CompanyAddress}}.</p>
    <p>If you choose to accept this job offer, please contact {{HREmail}} for further negotiation and discussing other matter.</p>
    <p>We are confident that tou will find this offer exiting, and I, on behalf of {{CompanyName}}, assure you of a very rewarding carrer in our company.</p>
    <p>Sincerely,</p>
    <br>
    <p>{{HRName}}</p>
    <p>{{CompanyName}} HR Team</p>
</body>
</html>