<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Rejection Letter</title>
</head>
<body>
    <p>Dear {{Name}},</p>
    <p>Thank you for taking the time to attend the interview for {{JobTitle}} position at {{CompanyName}}.</p>
    <p>Unfortunately, you were not selected to continue int the hiring process. We have decided to move forward with other candidates who more closely align with our job requirements and required skills.</p>
    <p>Sincerely,</p>
    <br>
    <p>{{HRName}}</p>
    <p>{{CompanyName}} HR Team</p>
</body>
</html>