<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Dear, {{Name}}!</h1>
    <p>This is an email for add new Job Post Request </p>
    <p>I hope my request will be approved, based on company's requirements staffs, we need to recruit a new staff based on these</p>
    <ul>
        <li>Job Title: {{JobTitle}}</li>
        <li>Description: {{Description}}</li>
        <li>Requirements: {{Requirements}}</li>
        <li>Location: {{Location}}</li>
        <li>Min Sallary: {{MinSallary}}</li>
        <li>Max Sallary: {{MaxSallary}}</li>
        <li>Employment Type: {{EmploymentType}}</li>
    </ul>
    <p>Thank you!</p>
    <p>From Recruiter, {{RecruiterName}}</p>
</body>
</html>