<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Post Request Review</title>
</head>
<body>
    <h1>Job Post Request</h1>
    <div>
        <b>Recruiter with: </b>
        <p>Name: {{Name}}</p>
        <p>ID: {{UserId}}</p>
        <p>Email: {{Email}}</p>
    </div>
    <div>
        <b>Requested a job post with: </b>
        <p>Job Title: {{JobTitle}}</p>
        <p>Description: {{Description}}</p>
        <p>Requirements: {{Requirements}}</p>
        <p>Location: {{Location}}</p>
        <p>Salary Range: {{SalaryRange}}</p>
        <p>Employment Type: {{EmployemtType}}</p>
    </div>
    <div>
        <h3>Status: {{Status}}</h3>
        <h3>Comments: {{Comments}}</h3>x
    </div>
</body>
</html>