<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Dear, {{Name}}!</h1>
    <p>This is an email for update Job Post Request </p>
    <p>I already update my request after the review modification, based on your correction, I update all the stuff like above </p>
    <ul>
        <li>Job Title: {{JobTitle}}</li>
        <li>Description: {{Description}}</li>
        <li>Requirements: {{Requirements}}</li>
        <li>Location: {{Location}}</li>
        <li>Min Sallary: {{MinSallary}}</li>
        <li>Max Sallary: {{MaxSallary}}</li>
        <li>Employment Type: {{EmploymentType}}</li>
    </ul>
</body>
</html>